{% extends 'layout.html' %} {% block content %}
<div class="row mar">
    <h1>Bienvenido!!!</h1>
    <div class="explanation">
        <h2>¡Selecciona el Twitter de quien quieres ver!</h2>
    </div>
</div>


    <form>
        
        <div class="form-group">
          <label for="exampleFormControlSelect1">Elige el twitter de quien quieres ver</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Justin Bieber</option>
            <option>Chris Evans</option>
            <option>Juan</option>
            <option>Edgar</option>
            <option>Emi</option>
          </select>
        </div>
    
      </form>


{% endblock %}